@namespace Platz.ObjectBuilder.Blazor

    <table>
        <tr>
            <th></th>
            <th>@Table.Name</th>
            <th><input @bind-value="@Table.Alias" style="width: 48px; height: 28px;" /></th>
            <th>
                <button class="btn btn-secondary btn-sm" title="Cancel" @onclick="@((args) => DeleteClick(args, @Table.Name))"
                        style="width: 28px; height: 27px; display:      block;    margin-left:  auto;    margin-right: 1px; margin-top: 1px;">
                    <span class="oi oi-x"></span>
                </button>
            </th>
        </tr>
    </table>

    <table>
        @*@foreach (var item in Table.Fields)*@
        @for (int rowIndex = 0; rowIndex < Table.Fields.Count; rowIndex++)
        {
            var item = Table.Fields[rowIndex];
            var row = rowIndex;
            <tr>
                <td>
                    @if (rowIndex == 0)
                    {
                        <span class="oi oi-key"></span>
                    }
                </td>
                @*<td><input type="checkbox" @bind="@item.Checked" /></td>*@
                <td><input type="checkbox" checked="@GetSelectedValue(row)" @onchange="@((args) => SelectClick(args, row))" /></td>
                <td>@item.Field</td>
                @*<td><input @bind-value="@item.FieldAlias" style="width: 80px; height: 28px;" /></td>*@
            </tr>
        }
    </table>

@code {
    [Parameter]
    public TableObj Table { get; set; }

    private string GetSelectedValue(int rowIndex)
    {
        var result = Table.Fields[rowIndex].Checked == true ? "checked" : null;
        return result;
    }

    private void DeleteClick(MouseEventArgs e, string tableName)
    {
    }

    private void SelectClick(ChangeEventArgs e, int rowIndex)
    {
        Table.Fields[rowIndex].Checked = (bool)e.Value;
    }
}